
{% extends "_layouts/base.html" %}
{% set active_page = "about" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>leasy is making rent payment and lease management the way it should be: easy. Paper forms and crummy online
      payment tools are a thing of the past with leasy. Tenants can submit lease forms right from leasy's easy to use and secure forms.
      Landlords can easily manage their properties with an intuitive layout. With clear displays of rent status and easy to use
      communication tools, tenants, their roommates, and their landlords will finally be able to live in ease. Welcome to leasy living.</a>.</p>
    </div>
</div>
{% endblock %}
